.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: left;
  align-items: center;
  gap: 3rem;
}

.header-main-image {
  height: 5rem;
}

.footer-section {
  padding: 2rem 8rem 0 8rem;
  border-top: 1px solid #d8d6d6;
}

h4 {
  font-size: 1.5rem;
  color: #9f9f9f;
}

.footer-section a {
  text-decoration: none;
  padding: 1.5rem 0;
  font-size: 1.3rem;
  cursor: pointer;
  color: inherit;
  font-weight: bold;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: #00adb5;
}

.address {
  color: #9f9f9f;
  font-size: 1.3rem !important;
}

.allrights {
  font-size: 1.3rem;
  font-weight: 500;
  border-top: 1px solid #d8d6d6;
  margin-top: 3rem;
  padding: 2rem 0 !important;
}
