.section-container {
  margin-top: 6rem;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a6e8dc;
  height: 16rem;
}

.header-container h2 {
  margin-bottom: 1rem;
  font-size: 4rem;
}

.bold {
  font-weight: bold;
}

.header-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header-flex p {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 1.2rem;
}

.contactus-grid {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 4rem 0 4rem 0;
}

.contactus-grid h2 {
  font-size: 3.5rem;
}

.form-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}
