.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);    
    text-align: center;
    align-items: center;
}

.footer-section {
    margin-left: 8rem;    
}

.footer-section p {
    padding: 1rem;
    font-size: 1.6rem;
}

h4{
    margin-top: 2.7rem;
    font-size: 2rem;
    text-align: center;
}

.footer-section a {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;    
}

.footer-section hr {
    margin: 2rem 0rem;
    width: 94%;
}

.allRights {
    margin: 3rem;
}