.header-section {
  position: relative;
  z-index: 1;
  transition: margin 0.3s ease;
  margin-bottom: 8rem;
  border-bottom: 2px solid #e6e6e6;
}

.header-section.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  z-index: 999;
  transition: margin 0.3s ease, box-shadow 0.3s ease;
}

.header-section.sticky::after {
  transition: all 20s;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 5px 5%;
}

.header-main-image {
  height: 5rem;
}

.home-redirect {
  display: block;
}

.header-properties-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.properties-name {
  position: relative;
  font-size: 1.3rem;
  white-space: nowrap;
  font-weight: 500;
  text-decoration: none;
  color: #252525;
  transition: color 0.3s ease; /* Adicionando transição suave para a cor do texto */
}

.properties-name:after {
  content: "";
  position: absolute;
  background-color: #00adb5;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -5px;
  transition: width 0.3s ease; /* Adicionando transição suave para a largura */
}

.properties-name:hover {
  color: #00adb5; /* Mudando a cor do texto ao passar o mouse */
}

.properties-name:hover:after {
  width: 100%;
}

.pageIndex-modified:after {
  width: 100%;
}
