.title-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title-description-box {
}

.home-title-container {
  display: flex;
  flex-direction: column;

  font-size: 5.5rem;
  font-weight: 600;
}
.title-first-line {
  white-space: nowrap;
}

.underlined-text {
  position: relative;
}

.underlined-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-top: solid 8px #00adb5;
  left: 0;
  bottom: -10px;
  border-radius: 50%;
  height: 15px;
  z-index: -999;
}

.home-title-image {
  max-width: 40%;
  height: auto;
}
