.title-section {
  margin-top: 20rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: padding 0.5s ease; 
  padding: 4rem 5%; 
}

.title-section.fixed-header {
  padding: 2rem 5%;
}

/* .title-description-box {  
} */

.home-title-container {
  margin-bottom: 20px; 
  display: flex;
  flex-direction: column;
  font-size: 4.5rem;
  font-weight: 600;
}

.title-first-line {
  white-space: nowrap;
  max-width: 30%;
}

.underlined-text {
  position: relative;
}

.underlined-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-top: solid 8px #00adb5;
  left: 0;
  bottom: -10px;
  border-radius: 50%;
  height: 15px;
  z-index: -999;
}

.home-title-image {
  max-width: 40%;
  height: auto;
  transition: opacity 0.5s ease, transform 0.5s ease; 
  margin-bottom: 20px; 
}

.title-section.fixed-header .home-title-image {
  opacity: 0.7; 
}
