.title-section {
  margin: 10rem 0 6rem 0;
  transition: padding 0.5s ease;
  padding: 4rem 5%;
}

.title-section-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.welcome-back-message {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.welcome-back-message span {
  color: #00adb5;
}

.title-section.fixed-header {
  padding: 2rem 5%;
}

.home-title-container {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  font-size: 4.5rem;
  font-weight: 600;
}

.title-first-line {
  white-space: nowrap;
  max-width: 30%;
}

.underlined-text {
  position: relative;
}

.underlined-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-top: solid 8px #00adb5;
  left: 0;
  bottom: -10px;
  border-radius: 50%;
  height: 15px;
  z-index: -999;
}

.home-title-image {
  max-width: 40%;
  height: auto;
  transition: opacity 0.5s ease, transform 0.5s ease;
  margin-bottom: 20px;
}

.title-section.fixed-header .home-title-image {
  opacity: 0.7;
}
