.AboutUs-section-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.aboutUs-header-box {
  max-width: 65rem;
  margin-left: 120px;
}

.aboutUs-header-box h2 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.aboutUs-text-box {
  word-spacing: 1.5px;
}

.aboutUs-header-box p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #6b7586;
}
.about-us-image {
  width: 40%;
}

.blue-lighter {
  background-color: #d5f1f1;
  border-radius: 30px;
  padding: -15px;
}
