.AboutUs-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutUs-header-box h2 {
  font-size: 4.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.aboutUs-text-box {
  width: 80rem;
}

.aboutUs-header-box p {
  font-size: 1.8rem;
  font-weight: 400;
  color: #6b7586;
}
.about-us-image {
  max-width: 40%;
  height: auto;
}

.blue-lighter {
  background-color: #2ac9d1;
  border-radius: 30px;
  padding: -15px;
}
